@inject HttpClient HttpClient

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>@Kota.Special.Name</h2>
            @Kota.Special.Description
        </div>
        <form class="dialog-body">
            <div>
                <div>
                    <label>Extra Stuff:</label>
                    @if (toppings == null)
                    {
                        <select class="custom-select" disabled>
                            <option>(loading...)</option>
                        </select>
                    }
                    else if (Kota.Toppings.Count >= 6)
                    {
                        <div>(maximum reached)</div>
                    }
                    else
                    {
                        <select class="custom-select" @onchange="ToppingSelected">
                            <option value="-1" disabled selected>(select)</option>
                            @for (var i = 0; i < toppings.Count; i++)
                            {
                                <option value="@i">@toppings[i].Name - R(@(toppings[i].GetFormattedPrice()))</option>
                            }
                        </select>
                    }
                </div>

                <div class="toppings">
                    @foreach (var topping in Kota.Toppings)
                    {
                        <div class="topping">
                            @topping.Topping.Name
                            <span class="topping-price">
                            @topping.Topping.GetFormattedPrice()
                            </span>
                            <button type="button" class="delete-topping" 
                                    @onclick="@(() => RemoveTopping(topping.Topping))">x
                            </button>
                        </div>
                    }
                </div>
                <label>Chips Size:</label>
                <input type="range"
                       min="@Kota.MinimumSize"
                       max="@Kota.MaximumSize"
                       step="1" @bind="Kota.Size"
                       @bind:event="oninput" />
                <span class="size-label">
                    @(Kota.Size)" R(@(Kota.GetFormattedTotalPrice()))
                </span>
            </div>
        </form>
        <div class="dialog-buttons">
            <button class="btn btn-secondary mr-auto" @onclick="OnCancel">Cancel</button>
            <span class="mr-center">
                Price: <span class="price">@(Kota.GetFormattedTotalPrice())</span>
            </span>
            <button class="btn btn-success ml-auto" @onclick="OnConfirm">Order ></button>
        </div>
    </div>
</div>

@code {
    List<Topping> toppings;

    [Parameter]
    public Kota Kota { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }



    void ToppingSelected(ChangeEventArgs e)
    {
        if (int.TryParse((string)e.Value, out var index) && index >= 0)
        {
            AddTopping(toppings[index]);
        }
    }

    void AddTopping(Topping topping)
    {
        if (Kota.Toppings.Find(pt => pt.Topping == topping) == null)
        {
            Kota.Toppings.Add(new KotaTopping() { Topping = topping });
        }
    }

    void RemoveTopping(Topping topping)
    {
        Kota.Toppings.RemoveAll(pt => pt.Topping == topping);
    }


    protected async override Task OnInitializedAsync()
    {
        toppings = await HttpClient.GetFromJsonAsync<List<Topping>>("toppings");
    }
}